@import 'nib'

#main 
	margin-top: 100px; 
	padding-top: 38px;
	padding-left: 0px
	padding-bottom: 0px;
	padding-right: 0px;
	width: 786px;
	min-height: 538px;
	min-width: 786px;
	background-color: #050a11
	border-radius 12px
	form
		input[type=text]
			padding 10px
			width 400px
			background-color rgba(255, 255, 255, 0.1)
			border-style none
		input[type=submit]
			float right
			margin-right 50px
			border-style none 
			padding 10px
			background-color #00c1f3
			color white 
			text-transform uppercase
			border-radius 6px
		textarea
			padding 10px
			width 400px
			height 170px
			background-color rgba(255, 255, 255, 0.1)
			border-style none


#contactus
	margin-top 0px
	width: 786px
	h2
		margin-left 50px; 
	> * 
		padding 0px
		margin 0
		margin-top 40px				
	ul.list
		text-transform uppercase		
		li			
			background-color rgba(255,255,255,0.1)
			color white
			border-radius 6px
			font-size 12px
			width 170px
			height 30px
			margin-top 5px
			margin-left 50px 
			padding-top: 10px
			text-align center 

			img
				padding 0
			.launchbutton
				margin-top 10px 
				padding 10px 
				text-align center
				background-color rgba(255,255,255,0.1)
				border-radius 6px
				&:hover
					color #00c2f3
	ul#footerlist
		li
			background-color transparent
		li:nth-child(2)
			font-family: Rockwell;
			color: #00c2f3;
			font-size: 32px;
			text-transform: uppercase;
		li:nth-child(3)
			font-family: Rockwell;
			color: #00c2f3;
			font-size: 14px;
			text-transform: uppercase;		

#quote
	padding-bottom 70px
	border-bottom dotted 1px #6b6b6b	

#getquote
	#text
		width 230px
		margin-top 20px
		float left
	margin-top: 100px
	width 430px
	padding-left 140px
	padding-top 50px
	padding-bottom 50px	
	font-family Rockwell
	color #00c2f3
	font-size 36px
	background-color rgba(0, 0, 0, 0.18)
	border-radius 14px

#footer
	margin-top 30px 
	padding-top 0px
		


