@import 'nib'

#whoweare p
	width: 85%
	font-family: ArialMT, Arial
	color: #f3f3f3
	font-size: 14px



#main 
	margin-top: 210px; 
	padding-top: 68px;
	padding-left: 33px
	padding-bottom: 204px;
	padding-right: 63px;
	width: 846px;
	min-height: 538px;
	min-width: 846px;
	background-color: rgba(0, 0, 0, 0.56);
	border-radius(12px)

#whatwedo 
	> * 
		padding-left 10px
		margin-left 10px	
	ul.list li
		font-size 12px
		


