@import 'nib'

#whoweare p
	width 85%
	font-family ArialMT, Arial
	color #f3f3f3
	font-size 14px



#main 
	margin-top: 210px; 
	padding-top: 68px;
	padding-left: 33px
	padding-bottom: 204px;
	padding-right: 63px;
	width: 846px;
	min-height: 538px;
	min-width: 846px;
	background-color: rgba(0, 0, 0, 0.56);
	border-radius 12px 

#whatwedo 
	margin-top 125px
	> * 
		padding-left 10px
		margin-left 10px	
	ul.list
		width 200px
		li
			font-size 12px
	#description
		margin-left 150px
		font-family ArialMT
		color #f3f3f3
		font-size 14px
		width 320px 
		height 208px

#backbone
	width 143px
	height 143px
	float left 	
	img
		display block		
		padding 30px
		background-color rgba(255, 255, 255, 0.1)
		border-radius 12px
		margin-top 60px
		margin-left 100px
		margin-right 60px

		


