	<section class="row" id="main">
		<div class="span10" id="whatwedo">
			<h2>Our Work</h2>

			<ul class="imagelist">
				<li>
					<img src='img/feature4.png'/>
					<div class='launchbutton'>Launch Website</div>
				</li>
				
				<li>
					<img src='img/feature3.png'/>
					<div class='launchbutton'>Launch Website</div>
				</li>					


				<li>
					<img src='img/feature3.png'/>
					<div class='launchbutton'>Launch Website</div>
				</li>	
				<li>
					<img src='img/feature3.png'/>
					<div class='launchbutton'>Launch Website</div>
				</li>
				<li>
					<img src='img/feature3.png'/>
					<div class='launchbutton'>Launch Website</div>
				</li>					
				<li>
					<img src='img/feature3.png'/>
					<div class='launchbutton'>Launch Website</div>
				</li>																		
			</ul>

		</div>					
	</section>

	<section class='row' id="quote">
		<div id='getquote' class='container'>
			<div id="text">Get A Quote</div>
			<img src='img/go-btn.png'/>
		</div>
	</section>
