#main {
  margin-left: 0px;
}
#main {
  margin-top: 100px;
  padding-top: 38px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  width: 990px;
  min-height: 538px;
  min-width: 846px;
  background-color: rgba(0,0,0,0.56);
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
#whatwedo {
  margin-top: 0px;
}
#whatwedo h2 {
  margin-left: 50px;
}
#whatwedo > * {
  padding: 0px;
  margin: 0;
  margin-left: 0px;
}
#whatwedo ul.imagelist li {
  width: 230px;
  background-color: transparent;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  font-size: 12px;
}
#whatwedo ul.imagelist li img {
  padding: 0;
}
#whatwedo ul.imagelist li .launchbutton {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#whatwedo ul.imagelist li .launchbutton:hover {
  color: #00c2f3;
}
#whatwedo #description {
  margin-left: 150px;
  font-family: ArialMT;
  color: #f3f3f3;
  font-size: 14px;
  width: 320px;
  height: 208px;
}
#backbone {
  width: 143px;
  height: 143px;
  float: left;
}
#backbone img {
  display: block;
  padding: 30px;
  background-color: rgba(255,255,255,0.1);
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 60px;
}
#quote {
  padding-bottom: 70px;
  border-bottom: dotted 1px #6b6b6b;
}
#getquote {
  margin-top: 100px;
  width: 430px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Rockwell;
  color: #00c2f3;
  font-size: 36px;
  background-color: rgba(0,0,0,0.18);
  -webkit-border-radius: 14px;
  border-radius: 14px;
}
#getquote #text {
  width: 230px;
  margin-top: 20px;
  float: left;
}
#footer {
  margin-top: 30px;
  padding-top: 0px;
}
